<div class="container">
    <br>
    <div class="row">
        <div class="col-4 offset-4">
            <h3 class="text-warning">Login Form</h3>
            <hr>

            <form action="">
                <div class="form-group">
                    <label for="">อีเมล์</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">รายละเอียด</label>
                    <textarea class="form-control" rows="2"></textarea>
                </div>

                <div class="form-group">
                    <label for="">ตำแหน่ง</label>
                    <select class="form-control">
                        <option value="">เลือกตำแน่ง</option>
                        <option [value]="item" *ngFor="let item of positions">
                            {{ item }}
                        </option>
                    </select>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-warning btn-block">
                        บันทึกข้อมูล
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>